<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="admin-user-list">
			<p>[사용자 리스트]</p>
			<table>
				<thead>
					<tr>
						
							<th>user_id</th>
							<th>email</th>
							<th>name</th>
							<th>password</th>
							<th>role</th>
						
					</tr>
				</thead>
				<tbody>
					<th:block th:each="user, status:${users}">
						<tr>
							<td th:value="${user.id}">001</td>
							<td th:value="${user.email}">alsdn0321@naver.com</td>
							<td th:value="${user.name}">박민우</td>
							<td th:value="${user.role}">ADMIN</td>
							<td><a href="#">수정</a> | <a href="#">삭제</a></td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div> 
		<div class="admin-post-list">
			<p>[게시물 리스트]</p>
			<table>
				<thead>
					<th:block th:each="camp, status:${camps}">
						<tr>
							<th th:value="${camp.id}">post_id</th>
							<th th:value="${camp.campName]}">post_title</th>
							<th th:value="${camp.regDate}">user_id</th>
							<th th:value="${camp.resvStatus}">post_type</th>
							<th th:value="${camp.emptySiteNum}">reg_date</th>
							<th></th>
						</tr>
					</th:block>	
				</thead>
				<tbody>
					<tr>
						<td>01</td>
						<td>동탄 청려 수련원 후기~</td>
						<td>001</td>
						<td>ADMIN</td>
						<td>23/02/04</td>
						<td><a href="#">수정</a> | <a href="#">삭제</a></td>
					</tr>
					<tr>
						<td>02</td>
						<td>태안 캠핑드림 강추해요!</td>
						<td>002</td>
						<td>USER</td>
						<td>23.01.27</td>
						<td><a href="#">수정</a> | <a href="#">삭제</a></td>
					</tr><tr>
						<td>03</td>
						<td>겨울 혹한기 캠핑 살아남기</td>
						<td>003</td>
						<td>USER</td>
						<td>23.02.03</td>
						<td><a href="#">수정</a> | <a href="#">삭제</a></td>
					</tr>
				</tbody>
			</table>
		</div> 
		<div class="admin-reservation-list">
			<p>[예약내역 리스트]</p>
			<table>
				<thead>
					<tr>
						<th>resv_id</th>
						<th>user_id</th>
						<th>camp_id</th>
						<th>chk_in</th>
						<th>price</th>
						<th>reg_date</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>001</td>
						<td>043</td>
						<td>011</td>
						<td>23.01.11</td>
						<td>100,000원</td>
						<td>23.01.01</td>
						<td><a href="#">수정</a> | <a href="#">삭제</a></td>
					</tr>
					<tr>
						<td>002</td>
						<td>071</td>
						<td>030</td>
						<td>23.02.01</td>
						<td>40,000원</td>
						<td>23.01.02</td>
						<td><a href="#">수정</a> | <a href="#">삭제</a></td>
					</tr>
					<tr>
						<td>003</td>
						<td>013</td>
						<td>059</td>
						<td>23.03.13</td>
						<td>80,000원</td>
						<td>23.01.04</td>
						<td><a href="#">수정</a> | <a href="#">삭제</a></td>
					</tr>
				</tbody>
			</table>
		</div> 
	</div>
	
</body>
</html>