<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="admin-user-list">
			<p>[사용자 리스트]</p>
			<table>
				<thead>
					<tr>
						
							<th>user_id</th>
							<th>email</th>
							<th>name</th>
							<th>password</th>
							<th>role</th>
						
					</tr>
				</thead>
				<tbody>
					<th:block th:each="user, status:${users}">
						<tr>
							<td th:value="${user.id}">001</td>
							<td th:value="${user.email}">alsdn0321@naver.com</td>
							<td th:value="${user.name}">박민우</td>
							<td th:value="${user.role}">ADMIN</td>
							<td><a href="#">수정</a> | <a href="#">삭제</a></td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div> 
		<div class="admin-post-list">
			<p>[게시물 리스트]</p>
			<table>
				<thead>
						<tr>
							<th>post_id</th>
							<th >post_title</th>
							<th>user_id</th>
							<th>post_type</th>
							<th>reg_date</th>
						</tr>
				</thead>
				<tbody>
					<th:block th:each="camp, status:${camps}">				
						<tr>
							<td th:value="${camp.id}">01</td>
							<td th:value="${camp.campName}">동탄 청려 수련원 후기~</td>
							<td th:value="${camp.regTime}">001</td>
							<td th:value="${camp.resvStatus}">ADMIN</td>
							<td th:value="${camp.emptySiteNum}">23/02/04</td>
							<td><a href="#">수정</a> | <a href="#">삭제</a></td>
						</tr>
					</th:block>	
				</tbody>
			</table>
		</div> 
		<div class="admin-reservation-list">
			<p>[예약내역 리스트]</p>
			<table>
				<thead>
					<tr>
						<th>resv_id</th>
						<th>user_id</th>
						<th>camp_id</th>
						<th>chk_in</th>
						<th>price</th>
						<th>reg_date</th>
					</tr>
				</thead>
					<tbody>
					<th:block th:each="resv, status:${reservations}">				
						<tr>
							<td th:value="${resv.id}"></td>
							<td th:value="${resv.user.id}"></td>
							<td th:value="${resv.chkIn}"></td>
							<td th:value="${resv.regTime}"></td>
							<td><a href="#">수정</a> | <a href="#">삭제</a></td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div> 
	</div>
	
</body>
</html>