<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="detail-images">
			<p>[경기 용인] 숲속의 아침 캠핑장 </p>
			<button onClick="location.href='/users/new'">예약하기</button>
			<div id="carouselExample" class="carousel slide">
			  <div class="carousel-inner">
			    <div class="carousel-item active">
			      <img src="https://d2yu53tvk06y2i.cloudfront.net/attachments/2e31333e79565995e4b98dd45ed8c741b5198838/store/limit/750/750/1797e2461aeeffcf3a98230aaa5b1d7090c8a47a5293cb1bc884d0e5b77e/thumbnail_image.jpg" class="d-block w-100" alt="...">
			    </div>
			    <div class="carousel-item">
			      <img src="https://d2yu53tvk06y2i.cloudfront.net/attachments/0296128e8afb660a62f8d53db0e8b58a99c6dfae/store/limit/750/750/ed750d969066ec6cc8e3f5cc3b5bd33ce461e5da8a40b9c39f0c4a8d5f75/thumbnail_image.jpg" class="d-block w-100" alt="...">
			    </div>
			    <div class="carousel-item">
			      <img src="https://www.honda.co.jp/outdoor/report/report201810/images/14.jpg" class="d-block w-100" alt="...">
			    </div>
			  </div>
			  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Previous</span>
			  </button>
			  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Next</span>
			  </button>
			</div>
		</div>
		<div class="kmap">
			<div id="map" style="width:100%;height:350px;"></div>
			<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e22c742f96219ac4cd7d9d859580b46b"></script>
			<script>
			var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
			    mapOption = { 
			        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
			        level: 3 // 지도의 확대 레벨
			    };
			
			// 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
			var map = new kakao.maps.Map(mapContainer, mapOption); 
			</script>
		</div>
		<div class="detail-text">
			<p>board_text</p>
			<div class="board_text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque orci purus, imperdiet nec ipsum nec, interdum fermentum arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin sit amet fermentum arcu. Mauris magna nisl, finibus a risus venenatis, fermentum gravida risus. Sed dictum odio orci, sed fermentum erat fringilla sed. Sed quis luctus nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus fringilla tempus faucibus.
			</div>
		</div>
		<div class="board-comment">
			<p>board_comment</p>
			<ul>
				<li>user1 : aaaaaaa</li>
				<li>user2 : aaaaaaa</li>
				<li>user3 : aaaaaaa</li>
			</ul>
		</div>
	</div>
</body>
</html>