<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
		<form action="posts/new" method="post">
			<p>게시글 작성</p>
			<div class="info-input">
				<ul>
					<li><label for="post-title">[제목]</label> <input type="text"
						id="post-title" class="post-title" /></li>
					<li><label for="post-author">[작성자]</label> <input type="text"
						id="post-author" class="post-author" readonly /></li>
					<li><label for="post-category">[숙박 유형]</label> <select
						id="post-category">
							<option value="캠핑">캠핑</option>
							<option value="글램핑">글램핑</option>
							<option value="카라반">카라반</option>
							<option value="노지캠핑">노지캠핑</option>
					</select></li>
				</ul>
			</div>
			<div class="img-input">
				<p>이미지 첨부</p>
				<div class="mb-3">
					<label for="formFileSm" class="form-label">Small file input example</label>
					<input class="form-control form-control-sm" id="formFileSm" type="file" multiple>
				</div>
			</div>
			<div class="text-input">
				<p>본문 내용</p>
				<textarea></textarea>
			</div>
			<button type="submit" class="write-submit">등록</button>
		</form>
	</div>
</body>
</html>