<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" th:src="@{/js/cookie.js}"></script>

<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<!-- <script th:inline="javascript">
		//쿠키를 이용한 아이디 기억
		$(document).ready(function() {
			var userInputId = getCookie("userInputId");
			var setCookieYN = getCookie("setCookieYN");

			if (setCookieYN == 'Y') {
				$("#id_save").prop("checked", true);
				$("#email").val(userInputId);
			} else {
				$("#id_save").prop("checked", false);
			}

			//로그인 버튼 클릭
			$('#loginbtn').click(function() {
				if ($("#id_save").is(":checked")) {
					var userInputId = $("#email").val();
					setCookie("userInputId", userInputId, 60);
					setCookie("setCookieYN", "Y", 60);
				} else {
					deleteCookie("userInputId");
					deleteCookie("setCookieYN");
				}
			});
		});
	</script> -->
</th:block>
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
		.error {
			color: #bd2130;
		}
	</style>
</th:block>

<head/>
<body>
	<div layout:fragment="content">
		
		<div class="login_frm">
			<p>로그인</p>
			<form class="log_frm" action="/users/login" method="post">
			<div class="login_input">
				<label th:for="email">이메일</label> 
				<input type="email" name="email" id="email" class="form-control" placeholder="이메일을 입력해주세요">
			</div>
			<div class="login_input">
				<label th:for="password">비밀번호</label> 
				<input type="password" name="password" id="password" class="form-control" placeholder="비밀번호를 입력">
			</div>
			<div class="login_buttons">
				<p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
				<button type="submit" class="btn btn-primary mb-3" id="loginbtn">로그인</button>
				<button type="button" class="btn btn-primary mb-3"
					onClick="location.href='/users/new'">회원가입</button>
			</div>
		</form>
		</div>
	</div>
</body>
</html>