<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- th:fragment 다른 페이지에 포함시킬 영역을 만들어 준다 -->
   <div th:fragment="header" class="header">
	    <div class="icon">
	    		<a class="navbar-brand" href="/"><img src="/images/logo.png" width="45" alt="로고"></a>	   		
		</div>
	    <div class="title">캠핑어때</div>
	    <div class="auth">
	   		<ul>
	   		  	<li class="nav-item" sec:authorize="isAnonymous()">
		          <a class="nav-link" href="/users/login">로그인</a>
		        </li>
		        <li class="nav-item" sec:authorize="isAuthenticated()">
		          <a class="nav-link" href="/users/logout">로그아웃</a>
		        </li>
	   		</ul>
	   </div>
	</div>
</body>
</html>