<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- th:fragment 다른 페이지에 포함시킬 영역을 만들어 준다 -->
   <div th:fragment="sidebar">
	   <div id="page-wrapper">
	  <!-- 사이드바 -->
		  <div id="sidebar-wrapper">
		    <ul class="sidebar-nav">
		      <li><a href="/posts/list">추천 사이트</a></li>
		      <li><a href="/posts/list2">사이트 정보</a></li>
		      <li><a href="/posts/map">캠핑장 찾기</a></li>
		      <li><a href="/reserves/reserve">예약하기</a></li>
		      <li><a href="#">관리자 설정</a></li>
		    </ul>
		  </div>
		</div>
   </div>
</body>
</html>