/* html { */
	position: relative;
	min-height: 100%;
	marginL: 0;
	padding: 0;
	background: black;
}

.header {
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	border-radius: 30px;
	height: 80px;
	line-height: 80px;
	background-image: url("/images/mil.jpg");
	color: #ff3d0f;
}

body {
	min-height: 100%;
	width: 1200px;
	margin: 0 auto;
	display: relative;
	background: #525634;
	border-radius: 30px;
}

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	padding: 15px 0;
	text-aligh: center;
}

.icon {
	width: 17.8%;
	text-align: center;
}

.icon img {
	width: 80px;
	height: 80px;
}

.title {
	width: 64.4%;
	font-size: 40px;
	color: #ff3d0f;
	text-align: center;
	font-weight: bold;
}

.auth {
	width: 17.8%;
	display: flex;
	text-align: center;
}

.nav-item {
	color: #ff3d0f;
	font-size: 20px;
	font-weight: bold;
}

.content {
	width: 800px;
	color: #c3ab7a;
	padding: 50px;
}

.carousel {
	
}

.carousel-inner {
	width: 800px;
}

.section {
	display: flex;
}

.mid {
	display: flex;
	flex-direction: row;
	margin: 10px 0;
	padding: 10px 0;
	/* border: 1px solid black;
	border-radius: 30px; */
}

.content-items {
	margin: 50px auto;
	width: 800px;
}

.site-info {
	width: 48%;
}

ul li {
	list-style: none;
}

.exhibition {
	width: 48%;
}

.v-line {
	border-left: 1px solid #000;
	height: 150px;
	width: 2%;
}

.admin-card{
	display:flex;
	flex-wrap: wrap;
}

.card{
	width:30%;
	height: 400px;
	margin: 10px;
}


.card img {
	transition: 0.3s;
	
}

.card a:hover img {
	transform: scale(1.1);
}

.card a {
	display: block;
	overflow: hidden;
	text-decoration: none;
	text-color: black;
}

p {
	font-size: 30px;
}

.auth ul li {
	list-style: none;
}
/*사이드 바*/
#page-wrapper {
	padding-left: 200px;
}

#sidebar-wrapper {
	width: 250px;
	height: 100%;
	margin-left: -200px;
	background: linear-gradient(180deg, #e69046, #f6d299);
	overflow-x: hidden;
	overflow-y: auto;
}

#page-content-wrapper {
	width: 100%;
	padding: 20px;
}
/* 사이드바 스타일 */
.sidebar-nav {
	width: 250px;
	margin: 0;
	padding: 0;
	position: fixed;
	float: left;
}

.sidebar-nav li {
	line-height: 2.8em;
	text-align: center;
	font-size: 24px;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999;
	transition: 0.5s;
}

.sidebar-nav li a:hover {
	color: #fff;
	background: #c3ab7a;
}

.sidebar-nav>.sidebar-brand {
	font-size: 1.3em;
	line-height: 3em;
}

/*로그인화면*/
.login_frm {
	border-radius: 30px;
	padding: 50px;
	width: 500px;
	height: 200px;
	margin: 50px auto;
	height: 350px;
	color: white;
	background-image: url("/images/mil.jpg");
}

.login_frm h3 {
	text-align: center;
}

.login_input {
	display: flex;
	width: 400px;
	margin-bottom: 50px;
}
.log_frm{
	height: 200px;
}

.login_input label {
	width: 100px;
}
.login-bottom{
	display:flex;
}
.login_buttons {
	text-align: right;
}

/*회원가입 화면*/
.join_frm {
	border: 2px solid #fed08c;
	border-radius: 30px;
	padding: 50px;
	width: 500px;
	margin: 50px auto;
	height: 520px;
	color: white;
	background: #fed08c;
	background-image: url("/images/mil.jpg");
}

.join_frm h3 {
	text-align: center;
}

.join_button {
	text-align: center;
}

/*post list*/
.search {
	width: 700px;
	margin: 30px auto;
}

.search input {
	border-radius: 20px;
	height: 50px;
	padding: 10px;
}

.search button {
	width: 60px;
	height: 30px;
	border-radius: 20px;
}

.search_frm {
	text-align: center;
}

.search_frm input {
	width: 400px;
}

.post-card {
	border-radius: 20px;
	display: flex;
	width: 700px;
	height: 300px;
	margin: 30px auto 50px;
	position: relative;
}

.make-post button {
	float: right:
}

.post-card-body {
	padding: 30px;
}

.post-card-title {
	font-size: 32px;
	margin-bottom: 10px;
}

.post-card-content {
	margin-bottom: 10px;
}

.like-comment {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.post-card-img {
	width: 255px;
	height: 300px;
}

.post-card-img img {
	width: 225px;
	height: 300px;
	border-radius: 20px;
	object-fit: none;
}

.post-card-body {
	width: 65%;
}

.paging {
	
}

/* width: 200px;
	margin: 0 auto 100px; */
}

/*post-list2*/
.post-list {
	width: 700px;
}

table {
	border: 1px solid black;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	border-left: none;
	border-right: none;
}

table th, td {
	border: 1px solid black;
	padding: 10px;
	border-left: none;
	border-right: none;
}

thead th {
	
}

thead th:nth-child(2) {
	/* width: 200px;	 */
	
}
/*write post*/
.info-input {
	
}

.info-input li label {
	font-size: 20px;
	width: 120px;
	margin: 20px;
}

.img-input {
	margin: 50px 0;
}

.img-input button {
	float: right;
}

.info-input input {
	width: 300px;
}

.write-submit {
	margin: 50px 0;
	float: right;
	width: 50px;
	height: 30px;
	border-radius: 20px;
}

.text-input textarea {
	margin: 0 50px;
	width: 400px;
	height: 200px;
}

/*post detail*/
.detail-images-header {
	width: 800px;
	display: flex;
	justify-content: space-between;
}

.detail-images-header button {
	width: 90px;
	height: 40px;
}

.detail-images {
	margin: 50px auto;
}

.detail-images button {
	float: right;
	margin: 20px;
	border-radius: 20px;
}

.detail-text {
	margin: 50px auto;
}

.board-comment {
	margin: 50px auto 150px;
}

.board-comment input {
	line-height: 30px;
	width: 400px;
	border-radius: 20px;
}

.board-comment-header {
	display: flex;
	justify-content: space-between;
}

.like {
	font-size: 30px;
	line-height: 30px;
}

/*map section*/
#map {
	border-radius: 30px;
}

.kakao-map {
	margin: 50px auto;
}

.map-camp-info {
	margin: 50px auto 150px;
}

.map-camp-info dt {
	font-size: 24px;
}

/*admin setting*/
.admin-post-list {
	margin: 50px 0;
}

/*reservation*/
.reservation {
	display: flex;
	flex-direction: column;
	width: 500px;
	background: #c3ab7a;
	color: #535634;
	margin: 0 auto;
	border: 1px solid;
	border-radius: 30px;
	padding: 20px;
}

.reservation h2 {
	text-align: center;
}

.reservation p {
	font-size: 16px;
}

.reservation button {
	margin-top: 20px;
	float: right;
	height: 50px;
	border-radius: 20px;
}

.reserve-item {
	margin: 10px;
}

/*campForm*/
.camp_frm{
	padding: 50px;
}
.camp_frm_btn button{
	float: right;
}