<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
		
		<div class="search">
			<form th:action="@{/camps/list}" method="get" class="search_frm">
				<input type="text" name="searchQuery" placeholder="검색어를 입력해주세요.">
				<button type="submit">검색</button>
			</form>
			<div class="make-post" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
				<button type="button" onclick="location.href='/camps/new'">글쓰기</button>
			</div>
		</div>
		<div class="post-cards">
			<th:block  th:each="camp, status: ${camps.getContent()}">	
				<div class="post-card">
					<div class="post-card-img">
						<a th:href="'/camps/' +${camp.id}">
						  <img th:src="@{${camp.imgUrl}}" th:alt="${camp.campName}">
						</a>
					</div>
					<div class="post-card-body">
						<div class="post-card-title">[[${camp.campName}]]</div>
						<div class="post-card-content">[[${camp.introduction}]]</div>
						<div class="like-comment">[[${camp.resvStatus}]]</div>
					</div>				
				</div>
			</th:block>
		</div>
		<div class="paging">
			<nav
			th:with="start=${(camps.number/maxPage)*maxPage + 1}
			,end=(${(camps.totalPages == 0) ? 1 : (start + (maxPage - 1) < camps.totalPages ? start + (maxPage - 1) : camps.totalPages)})"
			aria-label="Page navigation example">
			<ul class="pagination d-flex justify-content-center">
				<li class="page-item" th:classappend="${camps.first}?'disabled'">
					<a th:href="@{'/camps/list' + '?searchQuery=' + ${campSearchDto.searchQuery} + '&page=' + ${camps.number-1}}" class="page-link">
						<span>이전</span>
				</li>
					</a>
				<li class="page-item"
					th:each="page: ${#numbers.sequence(start, end)}"
					th:classappend="${camps.number eq page-1}?'active':''">
					<a class="page-link" th:inline="text"
					th:href="@{'/camps/list' +'?searchQuery=' + ${campSearchDto.searchQuery} + '&page=' + ${page-1}}">[[${page}]]</a>
				</li>
				<li class="page-item" th:classappend="${camps.last}?'disabled'">
					<a class="page-link"
					th:href="@{'/camps/list' +'?searchQuery=' + ${campSearchDto.searchQuery} + '&page=' + ${camps.number+1}}">다음</a>
				</li>
			</ul>
		</nav>
			
		</div>
	</div>
</body>
</html>